rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function esStaff() {
      return true;
    }

    match /clientes/{cardId} {
      allow get: if true;
      allow list: if esStaff();

      allow create: if (
           request.resource.data.telefono is string
        && request.resource.data.token is string
        && request.resource.data.sellos == 0
        && request.resource.data.monedero == 0
        && request.resource.data.consentimiento == true
        && cardId == request.resource.data.telefono + '_' + request.resource.data.token
      ) || esStaff();

      allow update: if esStaff();
      allow delete: if esStaff();
    }

    match /telefonos/{telefono} {
      allow get: if true;
      allow list: if esStaff();

      allow create: if request.resource.data.cardId is string
                    && request.resource.data.cardId.matches(telefono + '_[A-Z2-9]{6}');

      allow update: if esStaff()
                    || (request.resource.data.cardId is string
                        && request.resource.data.cardId.matches(telefono + '_[A-Z2-9]{6}'));

      allow delete: if esStaff();
    }

    match /eventos/{eventoId} {
      allow read, create: if esStaff();
      allow update, delete: if false;
    }

    match /config/publico {
      allow read: if true;
      allow write: if esStaff();
    }

    match /config/staff {
      allow read, write: if esStaff();
    }
  }
}
